echo "*.shp" >> .gitignore
echo "*.dbf" >> .gitignore
echo "*.cpg" >> .gitignore
echo "*.prj" >> .gitignore
echo "*.sbn" >> .gitignore
echo "*.sbx" >> .gitignore
echo "*.shx" >> .gitignore
echo "*.xml" >> .gitignore
echo "*.pdf" >> .gitignore
echo "*.png" >> .gitignore
echo "*.txt" >> .gitignore
echo "*.html" >> .gitignore
